* {
	border: none;
	border-radius: 10;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 10px;
	min-height: 8px;
}
window#waybar {
    background: transparent;
}
#network {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#network:hover { 
    color: #1E1D2F;
    background: #fab387;
}

#cava{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s; 
}
#cava:hover{
    color: #1E1D2F;
    background: #fab387;
}
#battery{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s; 
}
#battery:hover{
    color: #1E1D2F;
    background: #fab387;
}
#backlight:hover{
    color: #1E1D2F;
    background: #fab387;
}
#backlight{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s; 
}

#language{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#language:hover{
    color: #1E1D2F; 
    background: #fab387; 
}
#pulseaudio {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    padding: 8px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#pulseaudio:hover{ 
    background: #fab387;
    color: #1E1D2F;
}
#pulseaudio.muted {
    color: #f38ba8;
    background: #1E1D2F; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
    transition: 0.3s;
}
#pulseaudio.muted:hover {
    background: #f38ba8;
    color: #1E1D2F; 

}
#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#clock:hover {
    color: #1E1D2F; 
    background: #fab387;
}
#custom-notification {
  color: #fab387;
}
#disk{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#disk:hover{
    color: #1E1D2F; 
    background: #fab387;
}
#privacy{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#idle_inhibitor{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#idle_inhibitor.activated{
    color: #89b4fa;
    border-color: #89b4fa;
}
#idle_inhibitor.activated:hover{
    background: #89b4fa;
    color: #1E1D2F;
    border-color: #89b4fa;
}
#idle_inhibitor.deactivated{
    color: #fab387
}
#idle_inhibitor.deactivated:hover{
    color: #1E1D2F; 
    background: #fab387;
}
#memory {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#memory:hover { 
    color: #1E1D2F; 
    background: #fab387;

}
#cpu {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#cpu:hover {
    color: #1E1D2F; 
    background: #fab387;

}
#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #fab387;
    background: #1E1D2F;
    transition: 0.3s;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
}
#custom-launcher:hover { 
    background: #fab387;
    color: #1E1D2F;
}
#network.disconnected {
    color: #f38ba8;
    background: #1E1D2F; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #f38ba8;
}
#network.disconnected:hover {
    background: #f38ba8;
    color: #1E1D2F; 
}
#custom-power {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#custom-power:hover {

    background: #f38ba8;
    color: #1E1D2F;
    border-color: #f38ba8;

}
#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    background: #1E1D2F; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    color: #fab387;
    transition: 0.3s;
}
#workspaces button {
    color: #fab387;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
}
#tray{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1E1D2F; 
    color: #fab387;
    border-bottom: 3px;
    border-style: solid;
    border-color: #fab387;
    transition: 0.3s;
}
